In [1]:
import pandas as pd

In [114]:
df=pd.read_csv("StudentsPerformance.csv")

## Data type check

In [115]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

## Null value count

In [116]:
print(df.isna().sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Duplicate rows count

In [117]:
print(df.duplicated().sum())

0

## Column checks for rename and replacement of values

### Column 1

In [118]:
print(df["gender"].unique())

['female' 'male']

In [119]:
df["gender"] = df["gender"].replace({
    'female':'F',
    'male':'M'
})

In [120]:
df.rename(columns={"gender": "Gender"}, inplace=True)

In [121]:
print(df["Gender"].unique())

['F' 'M']

### Column 2

In [122]:
print(df["race/ethnicity"].value_counts())

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [123]:
df.rename(columns={"race/ethnicity": "Group"}, inplace=True)

In [124]:
df["Group"]=df["Group"].replace({
  'group B':'B',
  'group C':'C',
  'group A':'A',
  'group D':'D',
  'group E':'E'  
})

In [125]:
print(df["Group"].value_counts())

Group
C    319
D    262
B    190
E    140
A     89
Name: count, dtype: int64

### Column 3

In [126]:
print(df["parental level of education"].value_counts())

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [127]:
df.rename(columns={"parental level of education": "Parents_education"}, inplace=True)

In [128]:
df["Parents_education"]=df["Parents_education"].replace({
    "some college":"College",
    "associate's degree":"Associate's degree",
    "high school":"High school",
    "some high school":"High school",
    "bachelor's degree":"Bachelor's degree",
    "master's degree":"Master's degree"  
})

In [129]:
df["Parents_education"].value_counts()

Parents_education
High school           375
College               226
Associate's degree    222
Bachelor's degree     118
Master's degree        59
Name: count, dtype: int64

### Column 4

In [130]:
print(df["lunch"].value_counts())

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [131]:
df["lunch"]=df["lunch"].replace({
    "standard": "Standard",
    "free/reduced": "Subsidized"
})
#Due to lack of context 2nd value is assumed as Subsidized

In [132]:
df.rename(columns={"lunch":"Lunch_type"},inplace=True)

In [133]:
print(df["Lunch_type"].value_counts())

Lunch_type
Standard      645
Subsidized    355
Name: count, dtype: int64

### Column 5

In [134]:
print(df["test preparation course"].value_counts())

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [135]:
df["test preparation course"]=df["test preparation course"].replace({
    "completed":"Completed",
    "none":"Not completed"
})

In [136]:
df.rename(columns={"test preparation course":"Test_preparation_course"},inplace=True)

In [139]:
print(df["Test_preparation_course"].value_counts())

Test_preparation_course
Not completed    642
Completed        358
Name: count, dtype: int64

### Remaining columns

In [140]:
df.rename(columns={"math score":"Math_score",
          "reading score":"Reading_score",
          "writing score":"Writing_score"},inplace=True)

In [141]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   1000 non-null   object
 1   Group                    1000 non-null   object
 2   Parents_education        1000 non-null   object
 3   Lunch_type               1000 non-null   object
 4   Test_preparation_course  1000 non-null   object
 5   Math_score               1000 non-null   int64
 6   Reading_score            1000 non-null   int64
 7   Writing_score            1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [142]:
df.to_csv("StudentsPerformance_cleaned.csv",index=False)